<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <title>新築完成見学会【デバイス・ホーム】2月6日(土)～7日(日)</title>
    <meta content="" name="descriptison" />
    <meta content="" name="keywords" />
    <!-- Google Tag Manager -->
    <script>
      ;(function (w, d, s, l, i) {
        w[l] = w[l] || []
        w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' })
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : ''
        j.async = true
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
        f.parentNode.insertBefore(j, f)
      })(window, document, 'script', 'dataLayer', 'GTM-PQTKTRJ')
    </script>
    <!-- End Google Tag Manager -->
    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="assets/vendor/owl.carousel/assets/owl.theme.default.css" />
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet" />
    <!-- Vuetify -->
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet" />
    <!-- =======================================================
  * Template Name: Amoeba - v2.2.0
  * Template URL: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-PQTKTRJ"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <main id="main">
      <!-- ======= FAB ======= -->
      <!-- <div class="fab">
        <a class="button" href="#">
          <img class="rollover" src="img/infoButton_out.png" alt="button" />
        </a>
      </div> -->
      <!-- ======= top Section ======= -->
      <section id="top" class="top">
        <img class="topImg" src="img/section1.jpg" />
      </section>

      <section id="worry" class="worry">
        <img class="worryImg" src="img/page2-2.jpg" />
      </section>

      <section id="calm" class="calm">
        <img class="calmImg" src="img/artbord-3.jpg" />
      </section>

      <section id="info" class="info">
        <div class="title">
          <img src="img/infoTitle.png" alt="タイトル" />
        </div>
        <div class="owl-carousel owl-theme carousel">
          <div>
            <img src="img/carouselInfo/160828_022_0062.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_DOI4791.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_DSC1981.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_MG_5577.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/151128yn028.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/160611ue021.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/161201_036_0185.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/170617ue024.jpg" />
          </div>
        </div>
        <div class="tourInfo">
          <img src="img/info見学会情報.png" alt="見学会情報" />
        </div>

        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.5245959432789!2d140.85386508812553!3d37.00744919873801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDAwJzI2LjgiTiAxNDDCsDUxJzE1LjkiRQ!5e0!3m2!1sja!2sjp!4v1611909305733!5m2!1sja!2sjp"
            width="90%"
            height="332px"
            frameborder="0"
            style="border: 0; display: block; margin: 0 auto"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>

        <div class="btn">
          <a href="#">
            <img class="rollover" src="img/infoButton_out.png" alt="button" />
          </a>
        </div>
      </section>

      <section class="webTour" id="webTour">
        <div class="title">
          <img src="img/webTourTitle.jpg.png" alt="webTourTitle" />
        </div>
        <div class="contents">
          <div class="content">
            <img src="img/webTourContent1.png" alt="webTourContent1" />
          </div>
          <div class="content">
            <img src="img/webTourContent2.png" alt="webTourContent2" />
          </div>
        </div>
      </section>

      <section class="flow" id="flow">
        <div class="title">
          <img src="img/flowTitle.png" alt="title" />
        </div>
        <div class="content">
          <img src="img/flowStep1.png" alt="ステップ1" />
          <img src="img/flowStep2.png" alt="ステップ2" />
          <div class="btn">
            <a href="#">
              <img class="rollover" src="img\flowButton1_out.png" alt="ダウンロードはこちら" />
            </a>
          </div>
          <img src="img/flowStep3.png" alt="ステップ3" />
          <div class="btn">
            <a href="#">
              <img class="rollover" src="img\flowButton2_out.png" alt="LINE追加はこちら" />
            </a>
          </div>
          <img src="img/flowStep4.png" alt="ステップ4" />
          <img class="pb-4" src="img/flowStep5.png" alt="ステップ5" />
        </div>
        <img class="align-end" src="img/flowBackgroundLine.png" />
      </section>

      <section class="merit" id="merit">
        <img class="content" src="img/section 6.jpg" />
      </section>

      <section id="info" class="info">
        <div class="title">
          <img src="img/infoTitle.png" alt="タイトル" />
        </div>
        <div class="owl-carousel owl-theme carousel">
          <div>
            <img src="img/carouselInfo/160828_022_0062.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_DOI4791.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_DSC1981.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/_MG_5577.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/151128yn028.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/160611ue021.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/161201_036_0185.jpg" />
          </div>
          <div>
            <img src="img/carouselInfo/170617ue024.jpg" />
          </div>
        </div>
        <div class="tourInfo">
          <img src="img/info見学会情報.png" alt="見学会情報" />
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d796.5245959432789!2d140.85386508812553!3d37.00744919873801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzfCsDAwJzI2LjgiTiAxNDDCsDUxJzE1LjkiRQ!5e0!3m2!1sja!2sjp!4v1611909305733!5m2!1sja!2sjp"
            width="90%"
            height="332px"
            frameborder="0"
            style="border: 0; display: block; margin: 0 auto"
            allowfullscreen=""
            aria-hidden="false"
            tabindex="0"
          ></iframe>
        </div>
        <div class="btn">
          <a href="#">
            <img class="rollover" src="img/infoButton_out.png" alt="button" />
          </a>
        </div>
      </section>

      <section class="example" id="example">
        <div class="title">
          <img src="img/exampleTitle.png" alt="おうちのプラン例をご紹介" />
        </div>
        <div class="owl-carousel owl-theme carousel">
          <div>
            <img src="img/carouselExample/_DOI4780.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4888.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4879.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4869.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4843.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4817.jpg" />
          </div>
          <div>
            <img src="img/carouselExample/_DOI4807.jpg" />
          </div>
        </div>
        <div class="content">
          <img src="img/exampleContent.png" alt="content" />
        </div>
      </section>

      <div id="app">
        <v-app>
          <section class="contact" id="contact">
            <div class="title">
              <img src="img/contactTitle.png" alt="" />
            </div>
            <v-sheet class="form-group" color="transparent">
              <v-form ref="form" v-model="form" class="">
                <v-text-field
                  v-model="name"
                  :rules="[rules.required]"
                  autocomplete="name"
                  color="#fdcac9"
                  label="お名前"
                  outlined
                ></v-text-field>

                <v-text-field
                  v-model="email"
                  :rules="[rules.required, rules.email]"
                  autocomplete="email"
                  color="#fdcac9"
                  label="メールアドレス"
                  outlined
                >
                </v-text-field>

                <v-text-field
                  v-model="phone"
                  :rules="[rules.required, rules.phone]"
                  autocomplete="tel"
                  color="#fdcac9"
                  label="電話番号(半角数字のみ)"
                  outlined
                ></v-text-field>

                <v-radio-group v-model="type" :rules="[rules.required]" row>
                  <v-radio color="#fdcac9" label="見学会場を希望" value="会場希望"></v-radio>
                  <v-radio color="#fdcac9" label="web見学会を希望" value="web希望"></v-radio>
                </v-radio-group>

                <v-textarea
                  v-model="contents"
                  :rules="[rules.required]"
                  color="#fdcac9"
                  label="ご希望日時やご要望"
                  outlined
                ></v-textarea>

                <v-row>
                  <v-btn
                    d-block
                    class="mx-auto px-12"
                    x-large
                    color="#fdcac9"
                    @click="clickBtnSend"
                    :loading="loading"
                    :disabled="!form"
                    >送信
                  </v-btn>
                </v-row>

                <v-snackbar color="success" v-model="snackbar" timeout="4000">
                  {{ snackbarText }}
                  <template v-slot:action="{ attrs }">
                    <v-btn text v-bind="attrs" @click="snackbar = false"> Close </v-btn>
                  </template>
                </v-snackbar>

                <v-snackbar color="error" v-model="snackbarError" timeout="5000">
                  送信できませんでした
                  <template v-slot:action="{ attrs }">
                    <v-btn text v-bind="attrs" @click="snackbarError = false"> Close </v-btn>
                  </template>
                </v-snackbar>
              </v-form>
            </v-sheet>
          </section>
        </v-app>
      </div>

      <section class="overview" id="overview">
        <div class="content">
          <img src="img/overview.png" alt="content" />
        </div>
      </section>

      <!-- End Contact Us Section -->
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    <footer class="footer" id="footer">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Device Home</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/free-one-page-bootstrap-template-amoeba/ -->
          <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>-->
        </div>
      </div>
    </footer>
    <!-- End #footer -->
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>
    <!-- Vendor JS Files -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/jquery-easy-rollover/jquery.easy-rollover.js"></script>
    <script src="assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!-- axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/vuetify.js"></script>
  </body>
</html>
